<header>
  <figure><img src="{{user.avatar}}"><figcaption>{{user.username}}</figcaption></figure>
</header>
<section id="q-card" class="card q-card" data-ng-class="{'right': isRight, 'wrong': isWrong}">
  <div data-question-header
       data-category-header="categoryName"
       data-question="question"
      ></div>
  <div id="timer" class="timer" ng-if="!inBetweenQuestions">
    <div class="pie spinner" ng-if="!inBetweenQuestions"></div>
    <div class="pie filler" ng-if="!inBetweenQuestions"></div>
    <div class="mask" ng-if="!inBetweenQuestions"></div>
  </div>
  <div class="timer-space" ng-if="inBetweenQuestions"></div>
  <ul id="answers" class="answers">
    <li data-ng-repeat="answer in answers" data-ng-click="checkAnswer(answer)" class="big-button" data-ng-class="{'chosen': isChosen, 'correct': isCorrect, 'incorrect': isIncorrect, 'animated':isAnimated, 'hinge': runHinge, 'rubberBand':runRubberBand}">{{answer}}</li>
  </ul>
</section>
<div class="button-wrap last-content">
  <a class="small-button" href="#/signin">Quit</a>
</div>
<footer>
  <ul>
    <li>&copy; Copyright 2015. All Rights Reserved.</li>
    <li>Molly Kent, Clare Monahan, Will Schull, Monica Wu, Lyle Charles Scott</li>
  </ul>         
</footer>
