<header>
  <h1 class="icon-avatar-bw">TriviApp</h1>
  <figure><img src="{{user.avatar}}"><figcaption>{{user.username}}</figcaption></figure>
</header>
<section class="cat-card">
  <ul>
    <li class="big-button" tabindex="1" data-ng-click="newGame('sports')">Sports</li>
    <li class="big-button" tabindex="2" data-ng-click="newGame('entertainment')">Entertainment</li>
    <li class="big-button" tabindex="3" data-ng-click="newGame('history')">History</li>
    <li class="big-button" tabindex="4" data-ng-click="newGame('science')">Science</li>
  </ul>
</section>
<div class="button-wrap last-content">
  <a class="small-button" href="#/signin" tabindex="5">Quit</a>
  <a class="small-button" href="#/profile" tabindex="6">Profile</a>
</div>
<footer>
  <ul>
    <li>&copy; Copyright 2015. All Rights Reserved.</li>
    <li>Molly Kent, Clare Monahan, William Shull, Monica Wu, Lyle Charles Scott</li>
  </ul>
</footer>
