<header>
  <h1 class="icon-avatar-bw">TriviApp</h1>
</header>
<section data-ng-controller="ProfileController">
  <section class="card player-profile">
    <figure>
      <img src="{{user.avatar}}">
      <figcaption>{{user.username}}</figcaption>
    </figure>
    <ul class="stats-list">
      <li class="sports">
        <p>Sports</p>
        <progress value="70" max="100" class="icon-starbar"></progress>
      </li>
      <li class="entertainment">
        <p>Entertainment</p>
        <progress value="10" max="100" class="icon-starbar"></progress>
      </li>
      <li class="history">
        <p>History</p>
        <progress value="45" max="100" class="icon-starbar"></progress>
      </li>
      <li class="science">
        <p>Science</p>
        <progress value="85" max="100" class="icon-starbar"></progress>
      </li>
    </ul>
    <!-- <p>{{user.category1.correct}}</p> -->
  </section>
  <a class="big-button" href="#/home">Play Now</a>
  <a class="small-button" href="#/signin">Quit</a>
</section>
<footer>
  <ul>
    <li>&copy; Copyright 2015. All Rights Reserved.</li>
    <li>Molly Kent, Clare Monahan, Will Schull, Monica Wu, Lyle Charles Scott</li>
  </ul>
</footer>
