$color1: #1F1F1F;
$color2: lighten($color1, 60%);
$color3: #FFFFFF;
$color4: #1CB2FF; // theme blue
$color5: #19FF40; // green
$color6: #FF0000; // red

// avatar colors
$avatar-color1: #FF0000; // red
$avatar-color2: #FF5C0E; // orange
$avatar-color3: #FFFF00; // yellow
$avatar-color4: #78FF00; // green 
$avatar-color5: #1CB2FF; // blue 
$avatar-color6: #7B00FF; // purple 
$avatar-color7: #F700FF; // pink

$text-color-dark: $color1;
$text-color-med: $color2;
$text-color-light: $color3;
$text-color-theme: $color4;
$text-color-correct: darken($color5, 20%);
$text-color-wrong: darken($color6, 20%);
$text-color-category-sports: $avatar-color1;
$text-color-category-entertainment: $avatar-color7;
$text-color-category-history: $avatar-color6;
$text-color-category-science: $avatar-color4;

$background-color-dark: $color1;
$background-color-med: $color2;
$background-color-light: $color3;
$background-color-theme: $color4;
$background-color-correct: lighten($color5, 35%);
$background-color-wrong: lighten($color6, 30%);

$border-color-dark: $color1;
$border-color-med: $color2;
$border-color-light: $color3;
$border-color-theme: $color4;
$border-color-correct: $color5;
$border-color-wrong: $color6;
