.small-button {
  @include button($text-color-light, $background-color-dark, $border-color-med, $main-font-light-italic, $font-size-regular, $background-color-dark, $text-color-light);
  display: block;
  margin: 1em auto;
  padding: 0.5em;
  width: 25%; 
  &:focus {
    -webkit-box-shadow: 1px 1px 10px 6px $background-color-theme;
    -moz-box-shadow: 1px 1px 10px 6px $background-color-theme;
      box-shadow: 1px 1px 10px 6px $background-color-theme;
  }
  &.current {
    background-color: $background-color-med;
  }  
}
