.a-card {
  h1 {
    @include set-font($text-color-dark, $main-font-regular, $font-size-jumbo, "auto");
    text-align: center;
    margin-bottom: 0.5em;
  }
  h2 {
    margin-bottom: 0.35em;
    border-bottom: 1px solid rgba($border-color-theme, 0.5);
    padding-bottom: 0.35em;
    line-height: 1.5;   
  }
  &.correct {
    border-color: $border-color-correct;
    background-color: $background-color-correct;
    h1, h2 {
      color: $text-color-correct;
      border-color: $border-color-correct;
    }
  }
  &.wrong {
    border-color: $border-color-wrong;
    background-color: $background-color-wrong;
    h1, h2 {
      color: $text-color-wrong;
      border-color: $border-color-wrong;
    }
  }
}
